body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  
}

#root {
  height: 100%;
  /* display: flex;
  justify-content: center; */
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
}

html {
  height: 100%;
  min-height: fit-content;
  position: relative;
}
.trailer,
.movie-actions {
  display: none;
}
.movie-card:hover .trailer,
.movie-card:hover .movie-actions {
  display: block;
}

.movie-poster {
  display: block;
}

.movie-card:hover .movie-poster {
  display: none;
}

